$fontColor: rgb(55, 53, 47);

@mixin commonHeading {
  color: $fontColor;
}

.heading.heading1 {
  @mixin common {
    font-size: 36px;
  }
  .headingMark {
    @include commonHeading();
    @include common();
  }
  .heading1Mark {
    @include commonHeading();
    @include common();
  }
  .headingText {
    @include commonHeading();
    @include common();
  }
  .heading1Text {
    @include commonHeading();
    @include common();
  }
}

.heading.heading2 {
  @mixin common {
    font-size: 28px;
  }
  .headingMark {
    @include commonHeading();
    @include common();
  }
  .heading2Mark {
    @include commonHeading();
    @include common();
  }
  .headingText {
    @include commonHeading();
    @include common();
  }
  .heading2Text {
    @include commonHeading();
    @include common();
  }
}
